.container {
    /* background-color: "red" */
    padding-left: 0;
    display: flex
}

.container>img {
    margin: 5px;
    /* // padding: 15px; */
    width: 25px;
    height: 25px;
    /* background-color: blue */
}

.container>div {
    padding-left: 15px;
    display: flex;
    align-items: center;
    /* // background-color: green; */
}

@media screen and (max-width: 900px) {
    .container>div {
        display: none;
    }
}